!!! 5
html
  head
    title Draft Board
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='assets/stylesheets/base.scss', rel='stylesheet', media='screen')
  body
    script(src='http://code.jquery.com/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/bootstrap.js')
    script(type='text/javascript', src='bootstrap-progressbar.js')
    .container-fluid
      .navbar.navbar-inverse
        .container
          .navbar-header
            .navbar-fixed-top Current Pick
            .clock
              img(src='assets/images/clock.png')
            ul.nav.navbar-nav.navbar-right
              .bs-example
                .btn-toolbar(style='margin: 0;')
                  // /btn-group
                // /btn-toolbar
          // /.nav-collapse
        // /.container
    .rounds(style='top: 40px; left: 5px; width: 36px; line-height: 65px; display: block; padding-left: 25px;')
    br
    .container-fluid
      .row-fluid
        .span12
          // Body content
    .btn-block
      .round(style='height: 63px;')
        | 1
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 2
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 3
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 4
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 5
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 6
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 7
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 8
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 9
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 10
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 11
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 12
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 13
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 14
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 15
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .btn-block
      .round(style='height: 63px;')
        | 16
        p
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
          button.btn.btn-primary(type='button') Team Name
    .span2
          // Sidebar content
