!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/24_col.css')
    link(rel='stylesheet', type='text/css', href='assets/stylesheets/base.css')
  body
    h1
      a(href='http://960.gs/') 960 Grid System
    .container_24
      h2
        | 24 Column Grid
      .grid_24
        p
          | 950px
      // end .grid_24
      .clear
      .grid_1
        p
          | 30px
      // end .grid_1
      .grid_23
        p
          | 910px
      // end .grid_23
      .clear
      .grid_2
        p
          | 70px
      // end .grid_2
      .grid_22
        p
          | 870px
      // end .grid_2
      .clear
      .grid_3
        p
          | 110px
      // end .grid_3
      .grid_21
        p
          | 830px
      // end .grid_21
      .clear
      .grid_4
        p
          | 150px
      // end .grid_4
      .grid_20
        p
          | 790px
      // end .grid_20
      .clear
      .grid_5
        p
          | 190px
      // end .grid_5
      .grid_19
        p
          | 750px
      // end .grid_19
      .clear
      .grid_6
        p
          | 230px
      // end .grid_6
      .grid_18
        p
          | 710px
      // end .grid_18
      .clear
      .grid_7
        p
          | 270px
      // end .grid_7
      .grid_17
        p
          | 670px
      // end .grid_17
      .clear
      .grid_8
        p
          | 310px
      // end .grid_8
      .grid_16
        p
          | 630px
      // end .grid_16
      .clear
      .grid_9
        p
          | 350
      // end .grid_9
      .grid_15
        p
          | 590px
      // end .grid_15
      .clear
      .grid_10
        p
          | 390px
      // end .grid_10
      .grid_14
        p
          | 550px
      // end .grid_14
      .clear
      .grid_11
        p
          | 430px
      // end .grid_11
      .grid_13
        p
          | 510px
      // end .grid_13
      .clear
      .grid_12
        p
          | 470px
      // end .grid_12
      .grid_12
        p
          | 470px
      // end .grid_12
      .clear
      .grid_1.suffix_23
        p
          | 30px
      // end .grid_1.suffix_23
      .clear
      .grid_1.prefix_1.suffix_22
        p
          | 30px
      // end .grid_1.prefix_1.suffix_22
      .clear
      .grid_1.prefix_2.suffix_21
        p
          | 30px
      // end .grid_1.prefix_2.suffix_21
      .clear
      .grid_1.prefix_3.suffix_20
        p
          | 30px
      // end .grid_1.prefix_3.suffix_20
      .clear
      .grid_1.prefix_4.suffix_19
        p
          | 30px
      // end .grid_1.prefix_4.suffix_19
      .clear
      .grid_1.prefix_5.suffix_18
        p
          | 30px
      // end .grid_1.prefix_5.suffix_18
      .clear
      .grid_1.prefix_6.suffix_17
        p
          | 30px
      // end .grid_1.prefix_6.suffix_17
      .clear
      .grid_1.prefix_7.suffix_16
        p
          | 30px
      // end .grid_1.prefix_7.suffix_16
      .clear
      .grid_1.prefix_8.suffix_15
        p
          | 30px
      // end .grid_1.prefix_8.suffix_15
      .clear
      .grid_1.prefix_9.suffix_14
        p
          | 30px
      // end .grid_1.prefix_9.suffix_14
      .clear
      .grid_1.prefix_10.suffix_13
        p
          | 30px
      // end .grid_1.prefix_10.suffix_13
      .clear
      .grid_1.prefix_11.suffix_12
        p
          | 30px
      // end .grid_1.prefix_11.suffix_12
      .grid_1.prefix_12.suffix_11
        p
          | 30px
      // end .grid_1.prefix_12.suffix_11
      .clear
      .grid_1.prefix_13.suffix_10
        p
          | 30px
      // end .grid_1.prefix_13.suffix_10
      .clear
      .grid_1.prefix_14.suffix_9
        p
          | 30px
      // end .grid_1.prefix_14.suffix_9
      .clear
      .grid_1.prefix_15.suffix_8
        p
          | 30px
      // end .grid_1.prefix_15.suffix_8
      .clear
      .grid_1.prefix_16.suffix_7
        p
          | 30px
      // end .grid_1.prefix_16.suffix_7
      .clear
      .grid_1.prefix_17.suffix_6
        p
          | 30px
      // end .grid_1.prefix_17.suffix_6
      .clear
      .grid_1.prefix_18.suffix_5
        p
          | 30px
      // end .grid_1.prefix_18.suffix_5
      .clear
      .grid_1.prefix_19.suffix_4
        p
          | 30px
      // end .grid_1.prefix_19.suffix_4
      .clear
      .grid_1.prefix_20.suffix_3
        p
          | 30px
      // end .grid_1.prefix_20.suffix_3
      .clear
      .grid_1.prefix_21.suffix_2
        p
          | 30px
      // end .grid_1.prefix_21.suffix_2
      .clear
      .grid_1.prefix_22.suffix_1
        p
          | 30px
      // end .grid_1.prefix_22.suffix_1
      .clear
      .grid_1.prefix_23
        p
          | 30px
      // end .grid_1.prefix_23
      .clear
      .grid_12.push_12
        .grid_6.alpha
          p
            | 230px
        // end .grid_6.alpha
        .grid_6.omega
          p
            | 230px
        // end .grid_6.omega
        .clear
        .grid_1.alpha
          p
            | 30px
        // end .grid_1.alpha
        .grid_11.omega
          p
            | 430px
        // end .grid_11.omega
      // end .grid_12.push_12
      .grid_12.pull_12
        .grid_1.alpha
          p
            | 30px
        // end .grid_1.alpha
        .grid_11.omega
          p
            | 430px
        // end .grid_11.omega
        .clear
        .grid_6.alpha
          p
            | 230px
        // end .grid_6.alpha
        .grid_6.omega
          p
            | 230px
        // end .grid_6.omega
      // end .grid_12.pull_12
    // end .container_24
